.team-box {
  position: relative;
  transition: .1s;
  user-select: none;
}

.team-box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, transparent 85%, var(--uiGreen) 85%, var(--uiGreen) 100%);
    transform-origin: top right;
    transition: transform .1s;
    user-select: none;
    z-index: 100;
}

.team-box::after, .enemy-box::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 30%;
    height: 30%;
    background-image: url('/ui_svgs/magnify.svg');
    background-size: 125%;
    background-repeat: no-repeat;
    opacity: 0;
    transform: rotate(-90deg);
    transition: width .1s, height .1s, opacity .2s;
    z-index: 100;
}

.team-box:hover::after, .enemy-box:hover::after {
    width: 40%;
    height: 40%;
    opacity: 1;
}
.team-box:hover::before {
    transform: scale(1.5);
}


.team-box:active {
    transform: scale(.9);
}

.enemy-box {
  position: relative;
  transition: .1s;
  user-select: none;
}

.enemy-box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, transparent 85%, var(--uiRed) 85%, var(--uiRed) 100%);
    transform-origin: top right;
    transition: transform .1s;
    user-select: none;
    z-index: 100;
}

.enemy-box:hover::before {
  transform: scale(1.5);
}

.enemy-box:active {
    transform: scale(.9);
}

.player-stat {
    top: 55%;
    left: 50%;
    position: absolute;
    font-size: 2rem;
    font-style: italic;
    line-height: 2rem;
    text-align: center;
    transform: translate(-50%, -50%);
}

.identity-box {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: top right;
    opacity: 1;
    z-index: 1000;
}

.identity-box::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: -6%;
    width: 30%;
    height: 30%;
    background-image: url('/ui_svgs/minimize.svg');
    background-size: 125%;
    background-repeat: no-repeat;
    opacity: 1;
    transition: width .1s, height .1s, opacity .2s;
    z-index: 1001;
}