@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --uiRed: rgb(255, 71, 71);
  --uiGreen: rgb(69, 160, 110);
  --ui-border-radius: 0px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);/*
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: none;
}

body {
  background: var(--background);
  color: var(--foreground);
}

body * {
  box-sizing: border-box;
}

GridSection, GridSection * {
  min-height: 0px;
}

.striped-bg {
  background: repeating-linear-gradient(45deg, black, black 5px, rgb(18, 18, 18) 5px, rgb(18, 18, 18) 10px);
  box-shadow: 0px 0px 10px black;
}

.stats-bg {
  background: radial-gradient(rgb(20, 20, 20));
}

.test-border {
  border: 5px solid red;
}

.green {
  background-color: var(--uiGreen);
  border-radius: var(--ui-border-radius);
}

.red {
  background-color: var(--uiRed);
  border-radius: var(--ui-border-radius);
}

.purple {
  background-color: purple;
  border-radius: var(--ui-border-radius);
}

.orange {
  background-color: orange;
  border-radius: var(--ui-border-radius);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relative-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Font Area*/
.text-fit {
  font-size: max(1.2rem, min(4cqw, 6cqh));
  line-height: max(1.2rem, min(4cqw, 6cqh));
  width: fit-content;
  height: fit-content;
}

.text-fit-sm {
  font-size: min(1.2rem, min(3cqw, 5cqh));
  font-size: min(1.2rem, min(3cqw, 5cqh));
  width: fit-content;
  height: fit-content;
}

.ui-block {
  transition: transform .2s;
}

.ui-block:hover {
  transform: translateZ(50px);
}

